# LaTeX
*.aux
*.log
*.synctex.gz
*.synctex
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.out
*.bcf
*.run.xml

# IPython
.ipynb_checkpoints/
.ipynb_checkpoints/*
*.ipynb_checkpoints/
*.ipynb_checkpoints/*

**/.idea/*